.header {
    width: 1100px;
    height: 8vh;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.buttonHeader button {
    padding: 2rem;
    background: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all ease-in-out .5s;

}

.buttonHeader button:hover {
    transform: scale(1.1);
}

@media (max-width: 1100px) {
    .header {
        width: 100vw;
        height: 10vh;
    }
}

@media (max-width: 440px) {
    .header {
        text-align: center;
    }
}